.book-card-container {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
  min-width: 250px;
  max-width: 250px;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  background-color: white;
  cursor: pointer;
  position: relative;
}

.book-card-cover {
  margin: 10px 10px;
  max-width: 230px;
  max-height: 200px;
  border: 1px solid rgb(225, 225, 225);
}

.book-card-container:hover {
  filter: brightness(95%);
}

.book-card-title {
  margin-top: 0px;
  display: flex;
  height: 55px;
  align-items: center;
  font-weight: bold;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: rgb(41, 41, 41);
}

.book-card-author {
  font-style: italic;
}

.book-card-rating {
  position: absolute;
  bottom: 15px;

}