.book-page-container {
  width: 800px;
  max-width: 800px;
  margin: 75px auto;
}

.book-page-info {
  display: flex;
}

.book-page-info-left {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.book-page-bookshelf {
  margin-bottom: 40px;
}

.book-page-cover {
}

.book-page-cover-image {
  margin: 10px 10px;
  max-width: 330px;
  max-height: 300px;
  -webkit-box-shadow: 5px 5px 15px 3px rgba(0,0,0,0.17); 
  box-shadow: 5px 5px 15px 3px rgba(0,0,0,0.17);
}

.book-page-info-right {
  margin: 10px 20px 10px 30px;
  padding: 20px 20px;
  border: 1px solid rgba(240, 240, 240, 0.863);
  border-radius: 7px;
  background-color: rgba(240, 240, 240, 0.863);
  position: relative;
}

.book-page-title {
  font-size: 25px;
  padding-bottom: 15px;
  font-weight: bold;
}

.book-page-author {
  font-size: 18px;
  font-style: italic;
  padding-bottom: 5px;
}

.book-page-species {
  font-size: 15px;
  color: rgb(170, 170, 170);
  padding-bottom: 20px;
}

.book-page-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.book-page-description.read-more {
  overflow: visible;
  display: block;
}

.book-page-reviews {
  width: 100%; 
  margin-top: 40px;
  border-top: 1px solid rgb(170, 170, 170);
}

.review-top {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.review-rating .paw {
  font-size: 16px;
  margin: 0px 2px;
}

.review-user-name-text {
  font-weight: bold;
}

.review-username-rated-it  {
  margin-left: 4px;
  margin-right: 8px;
  color: rgb(60, 60, 60);
}

.review-top-left {
  display: flex;
}

.review-date {
  color: rgb(191, 191, 191);
}

.review-container {
  margin-bottom: 20px;
  padding-bottom: 18px;
  border-bottom: 1px solid rgb(210,210,210);
}

.reviews-title {
  padding-top: 15px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.book-card-rating.book-page {
  position: relative;
}

.review-container.no-review-text {
  padding-top: 10px;
  text-align: center;
}

.read-more-text {
  cursor: pointer;
  margin-top: 5px;
  display: inline-block;
  color: rgb(33, 80, 150);
}

.read-more-text:hover {
  text-decoration: underline;
}