.book-page-container {
  width: 800px;
  max-width: 800px;
  margin: 105px auto;
}

.book-page-info {
  display: flex;
}

.book-page-info-left {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.book-page-bookshelf {
  margin-bottom: 40px;
  width: 180px;
  height: 35px;
  border: 1px solid #1f78c0;
  position: relative;
  display: flex;
  z-index: 2;
  cursor: pointer;
}

.book-page-bookshelf-button {
  width: 80%;
  height: 100%;
  border-right: 1px solid #1f78c0;
  background-color: #128ced;
  transition-property: background-color;
  transition-duration: 0.15s;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.book-page-bookshelf-button.on-shelf:hover {
  transition-property: background-color;
  transition-duration: 0.15s;
  background-color: rgb(150, 1, 1);
}

.book-page-bookshelf-button.off-shelf:hover {
  background-color: #0f6bb6;
}

.book-page-bookshelf-arrow {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #128ced;
}

.book-page-bookshelf-arrow:hover {
  background-color: #0f6bb6;
}

.book-page-bookshelf-menu.hidden {
  display: none;
}

.book-page-bookshelf-menu {
  position: absolute;
  background-color: white;
  width: 180px;
  height: 105px;
  border: 1px solid #1f78c0;
  top: 33px;
  left: -1px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #128ced;
  color: white;
}

.bookshelf-menu-option {
  padding-left: 15px;
  font-weight: 600;
  color: white;
  line-height: 35px;
}

.bookshelf-menu-option:hover {
  background-color: #0f6bb6;
}

.book-page-cover {
}

.book-page-cover-image {
  margin: 10px 10px;
  max-width: 330px;
  max-height: 300px;
  -webkit-box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.17);
  box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.17);
}

.book-page-info-right {
  margin: 10px 20px 10px 30px;
  padding: 20px 20px;
  border: 1px solid rgba(240, 240, 240, 0.863);
  border-radius: 7px;
  background-color: rgba(240, 240, 240, 0.863);
  position: relative;
}

.book-page-title {
  font-size: 25px;
  padding-bottom: 15px;
  font-weight: bold;
}

.book-page-author {
  font-size: 18px;
  font-style: italic;
  padding-bottom: 5px;
}

.book-page-species {
  font-size: 15px;
  color: rgb(170, 170, 170);
  padding-bottom: 20px;
}

.book-page-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.book-page-description.read-more {
  overflow: visible;
  display: block;
}

.book-page-reviews {
  width: 100%;
  margin-top: 40px;
  border-top: 1px solid rgb(170, 170, 170);
}

.review-top {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.review-rating .paw {
  font-size: 16px;
  margin: 0px 2px;
}

.review-user-name-text {
  font-weight: bold;
}

.review-username-rated-it {
  margin-left: 4px;
  margin-right: 8px;
  color: rgb(60, 60, 60);
}

.review-top-left {
  display: flex;
}

.review-date {
  color: rgb(191, 191, 191);
}

.review-container {
  margin-bottom: 20px;
  padding-bottom: 18px;
  border-bottom: 1px solid rgb(170, 170, 170);
}

.reviews-title {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.book-card-rating.book-page {
  position: relative;
}

.review-container.no-review-text {
  padding-top: 10px;
  text-align: center;
}

.read-more-text {
  cursor: pointer;
  margin-top: 5px;
  display: inline-block;
  color: rgb(33, 80, 150);
}

.read-more-text:hover {
  text-decoration: underline;
}

.new-review-rating {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: fit-content;
  margin-bottom: 8px;
}

.new-review-header {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 10px;
}

.new-review-body-text {
  font-family: inherit;
  border-radius: 0px;
  resize: none;
  outline: none;
  width: 100%;
}

.new-review-body-text:focus {
  margin: -1px;
  border: 2px solid #128ced;
}

.new-review-book-title {
  font-weight: 600;
  font-style: italic;
}

.review-submit-button {
  border: 1px solid #ef6c00;
  background-color: #ef6c00;
  color: white;
  text-align: center;
  font-weight: 600;
  height: 37px;
  width: 50%;
  margin: 10px 200px;
  border-radius: 6px;
  line-height: 33px;
  cursor: pointer;
}

.menu-overlay.closed {
  display: none;
}

.menu-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.bookshelf-arrow {
  font-weight: 600;
  color: #f8d81c;
  transform: rotate(180deg);
  transition-property: transform;
  font-size: 25px;
  display: flex;
  align-self: center;
}

.bookshelf-arrow.closed {
  transform: rotate(0deg);
  transition-property: transform;
}
