.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.543);
  z-index: 100;
}

.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 100;
  background-color: white;
  width: 350px;
  height: 325px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.31); 
  box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.31);
}

.modal-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.modal-title {
  padding-top: 10px;
  font-size: 40px;
  font-family: "Chewy", cursive;
  letter-spacing: 1px;
  color: #ef6c00;
  display: flex;
  justify-content: center;
}

.modal-info {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.modal-photos {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid rgb(215, 215, 215);
}

.modal-links {
  font-weight: 600;
  text-decoration: none;
  color: #ef6c00;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.modal-links:hover {
  color: #f38f3d;
  filter: brightness(95%);
}

.modal-container span {
  padding-left: 20px;
}