.profile-dropdown {
  position: absolute;
}

.navbar {
  background-color: #128ced;
  display: flex;
  padding: 15px 20px;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
}

.navbar-title {
  font-family: "Chewy", cursive;
  font-size: 40px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.navbar-link {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  padding: 0px 10px;
  display: flex;
}

.navbar-link:hover {
  color: rgb(225, 225, 225);
}

.navbar-link:hover:active {
  color: rgba(225, 225, 225, 0.726);
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  font-size: 20px;
  flex-direction: row;
}

.navbar-link a {
  text-decoration: none;
  color: white;
}

.navbar-link a:hover,
.logout-button:hover {
  color: rgb(225, 225, 225);
}

.navbar-link a:hover:active,
.logout-button:hover:active {
  color: rgb(225, 225, 225, 0.726);
}

.navbar-title-container:hover {
  color: rgb(225, 225, 225);
}

.dog-icon {
  font-size: 40px;
  margin-right: 5px;
  margin-top: -6px;
}

.logout-button {
  color: white;
  cursor: pointer;
  margin-bottom: 3px;
}

.bookshelves-link {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.bookshelves-link span {
  margin-left: 8px;
}

.books-icon {
  font-size: 23px;
  margin-bottom: 2px;
}