.profile-dropdown {
  position: absolute;
}

.navbar {
  background-color: #128ced;
  display: flex;
  padding: 15px 20px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-title {
  font-family: "Chewy", cursive;
  font-size: 25px;
  letter-spacing: 1px;
}

.navbar-link {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  padding: 0px 10px;
}

.navbar-link:hover {
  color: rgb(225, 225, 225);
}

.navbar-link:hover:active {
  color: rgba(225, 225, 225, 0.726);
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-link a {
  text-decoration: none;
  color: white;
}

.navbar-link a:hover {
  color: rgb(225, 225, 225);
}

.navbar-link a:hover:active {
  color: rgb(225, 225, 225, 0.726);
}

.navbar-title {
  display: flex;
  align-items: center;
}

.navbar-title-container:hover {
  color: rgb(225, 225, 225);
}

.dog-icon {
  font-size: 26px;
  margin-right: 5px;
  margin-top: -6px;
}
